*.o
.deps
/INSTALL
/aclocal.m4
/autom4te.cache
/ax25-apps-*.shar.gz
/ax25-apps-*.tar.Z
/ax25-apps-*.tar.bz2
/ax25-apps-*.tar.gz
/ax25-apps-*.tar.lz
/ax25-apps-*.tar.lzma
/ax25-apps-*.tar.xz
/ax25-apps-*.zip
/ax25-apps.spec
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltconfig
/ltmain.sh
/missing
/stamp-h1
Makefile
Makefile.in
